{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "ignore": [
    "**/*.svg",
    "**/*.css"    
  ],
  "plugins": [
    "@babel/plugin-syntax-jsx"
    // You can add more plugins here if needed
  ]
}
