{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "ignore": [
    "**/*.svg",
    "**/*.css"    
  ],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    "transform-es2015-modules-commonjs"
  ]
}
